textarea {
    min-height: 400px;
}

div.emails-view {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@keyframes archive {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

div.email-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    animation-name: archive;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

div.email-wrapper:hover {
    background-color:aliceblue;
}

div.email-wrapper div.sender-subject-wrapper {
    cursor: pointer;
}

div.email-wrapper div.sender-subject-wrapper p,
div.email-wrapper p.timestamp {
    padding: 8px 10px;
    margin: 0;
}

div.email-wrapper div.sender-subject-wrapper p span {
    font-weight: bold;
    padding-left: 15px;
}

div.email-details-wrapper p.title{
    font-weight: bold;
    margin-bottom: 0;
}

div.email-details-wrapper p.title span {
    font-weight: lighter;
}

div.unread {
    background-color: rgb(239, 238, 238);
}

img.archive-icon {
    cursor: pointer;
    margin-right: 10px;
}
